@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<ul style="font-size: 18px">
    <li><a asp-area="" asp-controller="AnnualLeaveRequest" asp-action="Index">Annual Leave Requests</a></li>
</ul>