@page "/"

<h2>Annual Leave Request Tool</h2>

<ul>
    <li>View/Edit Annual Leave Requests using the <a href="AnnualLeave/Overview">AL Overview page</a></li>
    <li>Create an Annual Leave Request using the <a href="AnnualLeave/Create">Create AL Page</a></li>
</ul>
