@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<ul style="font-size: 18px">
    <li><a class="nav-link text-dark" asp-area="" asp-page="/AnnualLeaveRequest/Overview">Annual Leave Requests</a></li>
</ul>
