@model AnnualLeaveRequestToolMVC.Models.AnnualLeaveRequestOverviewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Annual Leave Request</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AnnualLeaveRequestID" class="control-label"></label>
                @Html.DisplayFor(model => model.AnnualLeaveRequestID)
                <input hidden asp-for="AnnualLeaveRequestID" />
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                @Html.DisplayFor(model => model.Year)
                <input hidden asp-for="Year" />
            </div>
            <div class="form-group">
                <label asp-for="PaidLeaveType" class="control-label"></label>
                <input asp-for="PaidLeaveType" class="form-control" />
                <span asp-validation-for="PaidLeaveType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeaveType" class="control-label"></label>
                <input asp-for="LeaveType" class="form-control" />
                <span asp-validation-for="LeaveType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReturnDate" class="control-label"></label>
                <input asp-for="ReturnDate" class="form-control" />
                <span asp-validation-for="ReturnDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfAnnualLeaveDaysRequested" class="control-label"></label>
                <input asp-for="NumberOfAnnualLeaveDaysRequested" class="form-control" />
                <span asp-validation-for="NumberOfAnnualLeaveDaysRequested" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Overview</a>
</div>

