@page  "/AnnualLeave/Delete/{AnnualLeaveRequestID:int}"

@using AnnualLeaveRequest.Shared
@using AnnualLeaveRequestToolBlazorServer.Data
@using AnnualLeaveRequestToolBlazorServer.Components
@inject IAnnualLeaveRequestLogic AnnualLeaveRequestLogic
@inject NavigationManager NavigationManager

<h2 class="esh-body-title">Delete</h2>

@if (!deletableRequest)
{
    <div style="color:red; padding-bottom: 20px">
        <ul>
            <li>Cannot delete this Annual Leave Request</li>
        </ul>
    </div>

    <div class="form-actions no-color esh-link-list" style="padding-top: 20px">
        <a href="/AnnualLeave/Overview" class="esh-link-item">
            Back to Overview
        </a>
    </div>

    return;
}

<div class="container">
    <DetailRow Model="model" />

    <div class="form-actions no-color esh-link-list">
        <button class="btn esh-button esh-button-primary" @onclick="DeleteRequest">
            Delete
        </button>
        |
        <a href="/AnnualLeave/Overview" class="esh-link-item">
            Back to Overview
        </a>
    </div>
</div>
    
@code {
    [Parameter]
    public int AnnualLeaveRequestID { get; set; }

    private AnnualLeaveRequestOverviewModel model = new AnnualLeaveRequestOverviewModel();

    protected bool deletableRequest => model?.AnnualLeaveRequestID > 0 && model.Year >= DateTime.UtcNow.Year;

    protected override void OnInitialized()
    {
        model = AnnualLeaveRequestLogic.GetRequest(AnnualLeaveRequestID);
    }

    private void DeleteRequest()
    {
        AnnualLeaveRequestLogic.Delete(model);

        NavigationManager.NavigateTo("AnnualLeave/Overview");
    }
}
